table {
  /* border: 5px solid green; */
  max-width: 50%;
  margin: 50px auto 10px auto;
  padding: 20px;
  /* background-color: rgba(0,0,0,0.1); */
  /* background-color: rgba(255, 255, 255, 0.1); */
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}
th {
}
td {
}
thead {
  margin-right: 10px;
}
tbody {
  margin-right: 10px;
}
.addPlayer {
  background-color: #282c34;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: center;
}
.addPlayer-container {
  display: flex;
}
.addPlayer-container-btn {
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  border-style: none;
  color: #000;
  margin-left: auto;
  padding: 10px 15px;
}
.addPlayer-container-btn:hover {
  background-color: rgb(202, 220, 226);
}
.addPlayer-container-btn:active {
  background-color: rgb(202, 220, 226);
  transform: translateY(1px);
}
.addPlayer-container-input {
  background-color: #282c34;
  border: 0;
  border-color: #282c34;
  border-radius: 5px;
  border-style: none;
  color: white;
  margin-right: auto;
  padding: 10px;
  outline: none;
}
.addPlayer-container-input {
  background-color: #282c34;
  border: 0;
  border-color: #282c34;
  border-radius: 5px;
  border-style: none;
  color: white;
  margin-right: auto;
  padding: 10px;
  outline: none;
}
.addPlayer-container-input:focus {
  background-color: #373940;
}
.Home-player-container {
  /* align-items: center; */
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding-bottom: 50px;
}
.Home-h1 {
  text-align: center;
}

.test {
  margin: 15px;
}
.row {
  padding: 10px 10px 10px 10px;
  /* margin: 20px; */
}

.row-container-left {
  /* padding-left: 25px; */
  /* text-align: end; */
}
.row-container-right {
  /* align-items: center; */
  /* display: flex; */
  /* justify-content: center; */
  /* margin: auto; */
  /* max-width: 50%; */
  /* padding-right: 25px; */
}
.row-container-bottom {
  /* padding-bottom: 20px; */
}

.table-icon {
  border-radius: 50%;
  height: 40px;
  margin: 10px 5px 0px 10px;
  width: 40px;
}
.welcome-heading {
  text-align: center;
}

@media screen and (min-width: 980px) {
  .Home-player-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1440px) {
  .Home-player-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
