.App {
  /* text-align: center; */
}

.App-header {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(237, 245, 244, 0.856),
    rgba(211, 199, 199, 0.788)
  ),
  url(./img/dice.jpg);

  align-items: center;
  background-color: #282c34;
  /* color: white; */
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
  /* opacity: 50%; */
}

.App-link {
  color: #61dafb;
}
