.App-main {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(235, 246, 250, 0.856),
    rgba(219, 248, 248, 0.788)
  ),
  url(./img/dice.jpg);

  background-color: #282c34;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}
